<%- include('partials/header.ejs') %>


 <%- include('partials/main_nav.ejs') %>


  <!-- Main Content -->
  <main class="w-75 p-3">
    <div class="shadow p-3 mb-5 bg-body rounded position-absolute top-25 start-50 translate-middle"><h1>Welcome to <%= title %></h1>
    </div>
  </main>
  <h1>
  
  </h1>
  <h1 style="text-align:center">Hello, You can call me Naf even though my name is Nafees. I'm only starting to learn how to develop software so this website is just a work in progress.</h4>



<%- include('partials/bottom_nav.ejs') %>
 


<%- include('partials/footer.ejs') %>
  

