<%- include('partials/header.ejs') %>


 <%- include('partials/main_nav.ejs') %>


  <!-- Main Content -->
  <main class="w-75 p-3">
    <div class="shadow p-3 mb-5 bg-body rounded position-absolute top-25 start-50 translate-middle"><h1>Welcome to <%= title %></h1>
    </div>
  </main>
  <div class="mb-3">
  <div class="col-sm-3">
  <label for="formGroupExampleInput" class="form-label">First Name</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your First name here">
  </div>
</div>
<div class="mb-3">
<div class="col-sm-3">
  <label for="formGroupExampleInput2" class="form-label">Last Name</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your last name here">
  </div>
  </div>



<%- include('partials/bottom_nav.ejs') %>
 


<%- include('partials/footer.ejs') %>
  

