<%- include('partials/header.ejs') %>


 <%- include('partials/main_nav.ejs') %>


  <!-- Main Content -->
  <main class="w-75 p-3">
    <div class="shadow p-3 mb-5 bg-body rounded position-absolute top-25 start-50 translate-middle"><h1>Welcome to <%= title %></h1>
    </div>
  </main>
  <div style="text-align:center">
    <img src="Assets\images\construction.gif">
    </div>
  
  <h6 style="text-align:center">Currently I am working on SQL assignment.</h6>
  <h6 style="text-align:center">I am also working on a Java assignment.</h6>
  <h6 style="text-align:center">I am also working on System Design assignment.</h6>



<%- include('partials/bottom_nav.ejs') %>
 


<%- include('partials/footer.ejs') %>